$gray1: #f4f6f7;
$gray2: #5f727f;
$gray3: #99a9b5;
$gray4: #393d50;
$gray5: #494c64;
$gray6: #212331;
$gray7: #d8e3e8;
$gray8: #b6c6c9;
$gray9: #808d99;
$gray10: #c9d6d8;
$gray11: #c5c5c5;
$gray12: #2c2e3d;
$gray13: #3c3950;
$gray14: #f0f3f2;
$gray15: #5c6973;
$gray16: #4b565d;
$gray18: #828e97;
$gray19: #fcfdfc;
$gray20: #dfe5e8;
$gray21: #181828;
$blue1: #00bcd4;
$blue2: #16a7b9;
$blue3: #315bd6;
$blue4: #0288d1;
$blue5: #a8e2e9;
$yellow1: #ffc107;
$yellow2: #ffbb63;
$yellow3: #786f4c;
$yellow4: #d1edac;
$red1: #f44336;
$red2: #ae0e0e;
$red4: #ff5757;
$red5: #ff5176;
$white: #ffffff;