@font-face {
    font-family: Montserrat-Bold;
    src: url(./fonts/Montserrat-Bold.ttf);
}

@font-face {
    font-family: SourceSansPro-Light;
    src: url(./fonts/SourceSansPro-Light.ttf);
}

@font-face {
    font-family: montserrat-ultra-light;
    src: url(./fonts/montserrat-ultra-light.otf);
}

@font-face {
    font-family: SourceSansPro-Regular;
    src: url(./fonts/SourceSansPro-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style-type: none;
}

.area-content {
    width: 1170px;
    position: relative;
}

hr {
    border: 1px dotted #c4c4c4;
    border-style: none none dotted;
    color: #fff;
    margin: 15px 15px;
}

.text-content {
    font-family: SourceSansPro-Regular;
    color: #5f727f;
    font-size: 16px;
}


/* HEADER */

.header {
    background-color: #f4f6f7;
    height: 52px;
    font-family: SourceSansPro-Regular;
    font-size: 14px;
    color: #5f727f;
    /* position: relative; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.row-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.head-phone {
    margin-right: 13px;
}

.number-phone {
    transform: translateX(-29px);
    padding-bottom: 5px;
}

.social-icons {
    list-style-type: none;
    margin-right: 95px;
    display: flex;
}

.social-icons li {
    margin-right: 11px;
}

.direction-item {
    list-style-type: none;
    display: flex;
    align-content: center;
    margin-right: 50px;
}

.direction-item img {
    height: 10px;
}

.direction-item>li {
    margin-right: 20px;
}

.btn-wish-list button {
    cursor: pointer;
    width: 101px;
    height: 30px;
    color: #ffffff;
    background-color: #494c64;
    border-radius: 4px;
}


/* NAVIGATION */

.navigation {
    font-family: Montserrat-Bold;
    height: 96px;
    display: flex;
    justify-content: center;
    color: #3c3950;
    align-items: center;
}

.navbar {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.nav-list {
    list-style-type: none;
}

.nav-list,
.list-item,
.nav-icon,
.tag {
    font-size: 14px;
    cursor: pointer;
    display: inline-block;
}

.brand {
    font-size: 27px;
    list-style-type: none;
    display: flex;
    align-items: center;
}

.list-item button {
    font-size: 14px;
    font-family: Montserrat-Bold;
    border: 3px solid #3c3950;
    padding: 10px 30px;
    background-color: white;
    cursor: pointer;
}

.nav-list p {
    padding-left: 30px;
}

.nav-list :hover {
    color: #00bcd4;
}

.nav-icon img {
    padding-left: 5px;
}

.brand span {
    padding-left: 10px
}


/* BANNER */

.banner {
    background-image: linear-gradient(to right, #7b3d62, rgba(121, 137, 156, 0.7));
    position: relative;
    display: flex;
    justify-content: center;
}

.text-banner {
    font-family: montserrat-ultra-light;
    font-size: 100px;
}

.text-banner span {
    font-family: Montserrat-Bold;
}

.description-banner {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 400px;
    color: #ffffff;
}

.description-banner ul {
    list-style-type: none;
    text-align: right;
}

.text-banner-small {
    font-size: 24px;
    font-family: SourceSansPro-Light;
    margin-top: 9px;
}

.text-direction-page {
    font-family: SourceSansPro-Regular;
    position: absolute;
    left: 0%;
    bottom: 5%;
    display: flex;
    justify-content: center;
}

.next,
.prev {
    width: 80px;
    height: 80px;
    background-color: #212331;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.next {
    right: 0%;
}

.prev {
    left: 0%;
}

.prev:hover,
.next:hover {
    background: #00bcd4;
}


/* MAIN-CONTENT */

.main-content {
    display: flex;
    justify-content: center;
    margin-top: 111px;
}


/* CATEGORIES */

.categories {
    color: #3c3950;
    width: 261px;
    display: inline-block;
    font-family: Montserrat-Bold;
}

.title-ctg {
    font-size: 19px;
}

.categories a {
    color: #3c3950;
    text-decoration: none;
}

.categories ul {
    margin-top: 30px;
    border: 1px #dfe5e8 solid;
    font-size: 14px
}

.categories ul li {
    color: #3c3950;
    /* display: block; */
    padding: 16px 30px;
    border-bottom: 1px solid #ddd;
}

.fl-right {
    float: right;
}

.dropdown-content {
    display: none;
    background-color: #f4f6f7;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.dropdown-content a {
    padding: 16px 20px;
    text-decoration: none;
    display: block;
    width: 261px;
}

.dropdown-content a i {
    font-size: 7px;
    padding: 6px 14px;
}

.dropdown-content a:hover {
    background-color: #d8e3e8;
    color: #58cadd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    color: #58cadd;
}

.dropdown:hover .dropbtn i {
    transform: rotate(90deg);
}

.child-dropdown {
    color: #e4eaed
}

.child-dropdown:hover .child-content {
    display: block;
}

.child-content>a {
    font-size: 14px;
}

.child-content>a:hover {
    color: #f44336
}

.child-dropdown:hover .drop-btn i {
    transform: rotate(90deg);
}

.child-content {
    display: none;
}


/* form search */

.search-box {
    margin-top: 68px;
    position: relative;
    margin-bottom: 60px;
    /* background-color: #ffffff !important; */
}

.search-icon {
    position: absolute;
    left: 89%;
    top: 37%;
    color: #99a9b5;
}

.mySearch {
    width: 100%;
    padding: 11px;
    border: 2px solid #dfe5e8;
    /* font-size: 16px */
}


/* filter  */

.filter-st {
    display: flex;
    flex-direction: column;
    gap: 61px;
}

.display-style {
    display: flex;
    flex-direction: column;
    gap: 31px;
}

.filter-price {
    width: 100%;
    background-color: #f0f3f2;
    height: 6px;
    position: relative;
}

.style-select {
    width: 100%;
    height: 40px;
    border-color: #a1b0ba;
}

.circle-icon-start,
.circle-icon-end {
    position: absolute;
    color: #00bcd4;
}

.circle-icon-start {
    left: 0%;
    top: -5px;
}

.circle-icon-end {
    left: 60%;
    top: -5px;
}

.myProgress {
    width: 60%;
    height: 6px;
    background-color: #b6c6c9;
}

.btn-filter-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.btn-filter {
    font-size: 14px;
    font-family: Montserrat-Bold;
    color: #00bcd4;
    width: 82px;
    height: 29px;
    border: 2px solid #00bcd4;
}

.text-price>span {
    color: #5f727f
}


/* recently product viewed */

.recently-view-product ul li {
    background-color: #f0f3f2;
    /* border-bottom: 1px solid #ddd; */
}

.product-viewed {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.img-product-viewed {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    position: relative;
}

.product-viewed-info {
    display: flex;
    flex-direction: column;
    gap: 6px;
}


/* .list-recent-products {
    color: #3c3950;
    padding: 16px 16px;
    border-bottom: 1px solid #ddd;
} */

.bg1 {
    background-color: #99a9b5;
}

.bg2 {
    background-color: #c9d6d8;
}

.bg3 {
    background-color: #c5c5c5;
}

#style-hr {
    border: 1px solid #dfe5e8;
}

.tag-percent {
    background-color: #00bcd4;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    position: absolute;
    color: #ffffff !important;
}

.tag-percent-view {
    right: 0px;
}

.tag-percent-featured {
    right: -10px;
    top: 14px;
}


/* product-tags */

.prod-tags {
    color: #5f727f;
}

.prod-tags>span {
    border: 1px solid #99a9b5;
    display: inline-block;
    margin: 0 9px 9px 0;
    padding: 6px;
}


/* featured products */

.featured-product-box {
    display: flex;
    flex-direction: column;
    gap: 16px
}

.product-featured {
    display: flex;
    gap: 18px;
    border: 1px solid #dfe5e8;
    align-items: center;
}

.img-product-featured {
    width: 80px;
    height: 80px;
    position: relative;
}


/* ads coupon */

.ads-coupon {
    width: 100%;
    margin: 83px 0 68px;
    height: 584px;
    padding: 18px;
    background-color: #ff5176;
}

.border-white {
    border: 8px solid #ffffff;
    height: 548px;
    text-align: center;
}

.ads-coupon-content {
    text-align: center;
}

.ads-coupon-content {
    /* margin-top: 77px; */
}

.color-text {
    color: #ffffff;
}

#for-free {
    color: rgb(214, 214, 12);
    font-size: 32px;
}

.coupon {
    font-size: 36px;
    letter-spacing: 2px;
}

.price-coupon {
    font-size: 120px;
    float: right;
}

.text-size {
    font-size: 24px !important;
}

#mr {
    margin: 26px 29px 40px;
}

.form-submit-mail {
    margin: 0 20px;
}

.input-mail {
    border: none;
    padding: 15px;
    width: 100%;
    font-size: 16px;
    height: 40px;
}

.btn-submit-mail {
    width: 100%;
    height: 40px;
    border: none;
    background-color: #2c2e3d;
    color: #ffffff;
    margin-top: 14px;
}


/* cart */

.sub-total,
.view-checkout {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.view-checkout {
    margin-top: 34px;
}

.btn-view,
.btn-checkout {
    width: 124px;
    height: 30px;
    font-size: 14px;
    border-radius: 3px;
}

.btn-view {
    border: none;
    background-color: #00bcd4;
    color: #ffffff;
}

.btn-checkout {
    border: 1px solid #3c3950;
    color: #3c3950;
}

#subtotal {
    float: right;
    font-size: 24px;
}


/* product */

.main-product {
    float: right;
    width: calc(100% - 303px);
}

.line {
    width: 51px;
    height: 0;
    border: 1px solid #00bcd4;
    margin: 8px;
}

.font-fm-sourceRL {
    font-size: 20px;
    font-family: SourceSansPro-Light;
    color: #5a5868
}

.font-fm-monb {
    font-family: Montserrat-Bold;
}

.lists-products {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.product-item {
    width: calc(33.333% - 28px);
    margin-bottom: 42px;
}

.ctg-description {
    position: relative;
    background-color: #f9fbfc;
    color: #3c3950;
    width: 100%;
    height: 85px;
}

.ctg-infor {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px
}

.product-item:hover .ctg-description {
    background-color: #393d50;
    color: #ffffff;
    transition: 0.5s all;
}

.product-item:hover .ctg-description .line {
    width: 80px;
}

.banner-ctg {
    background-color: #d8e3e8;
    width: 100%;
    height: 211px;
}

.button-products {
    background-color: #d8e3e8;
    height: 47px;
}

.btn-pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-bottom: 73px;
}

.btn-pagination>button {
    width: 30px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid#99a9b5;
    color: #99a9b5;
}

.btn-pagination>button:hover {
    color: #ffffff;
    background-color: #3c3950;
}


/* nav-sort */

.nav-sort {
    background-color: #f0f3f2;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 42px;
}

.sort-dropdown select {
    width: 182px;
    height: 30px;
    border: none;
}

.show-page-dropdown {
    display: flex;
    align-items: center;
    gap: 20px;
    color: #99a9b5;
}


/* toggle desc asc */

.switch {
    position: relative;
    display: inline-block;
    width: 43px;
    height: 24px;
}

.toggle-desc-asc {
    display: flex;
    align-items: center;
    gap: 15px;
    font-family: montserrat-ultra-light;
    font-size: 14px;
    color: #5f727f;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #b6c6c9;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    transform: translateX(20px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}


/* product part 2 */

.img-product {
    background-color: #f0f3f2;
    width: 100%;
    height: 327px;
    position: relative;
}

.product-description {
    background-color: #ffffff;
    width: 100%;
    height: 143px;
    border-left: 1px solid #dfe5e8;
    border-right: 1px solid #dfe5e8;
    border-bottom: 1px solid #dfe5e8;
}

.product-infor {
    color: #5f727f;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 13px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    position: relative;
}

.product-infor:hover .line {
    width: 80px;
}

.list-icon {
    display: flex;
    align-items: center;
    gap: 8px;
}

.color-star {
    color: #ffc107
}

.color-price {
    color: #42c6da;
}

.color-heart {
    color: #f5564c
}

.product-item:hover .img-product {
    background-color: #a8e2e9;
}

.product-item:hover .product-description {
    background-color: #f0f3f2;
}

.product-item:hover hr {
    width: 83px;
    transition: 0.3s;
}

#btn-mr {
    margin-top: 16px;
    margin-bottom: 123px;
}

#style-btn-pgn {
    background-color: #b6c6c9;
    color: #ffffff !important;
    border: none
}

#style-btn-1 {
    background-color: #3c3950;
    border: none;
    color: #ffffff !important;
}

#style-btn-4 {
    background-color: #00bcd4;
    border: none;
    color: #ffffff !important;
}

.tag-ads-sale,
.tag-ads-new {
    border-radius: 50%;
    position: relative;
}

.tag-ads-sale {
    background-color: #00bcd4;
    width: 63px;
    height: 63px;
    z-index: 2;
}

.tag-ads-new {
    background-color: #393d50;
    width: 50px;
    height: 50px;
}

#new {
    position: absolute;
    top: 50px;
    left: 5px;
    z-index: 1;
}

.tag-sn {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
    font-size: 12px
}

.tag-ads {
    position: absolute;
    right: -22px;
    top: 22px;
}


/* OUR BRANDS */

.our-brands {
    justify-content: center;
    align-items: center;
    display: flex;
    margin-top: 70px;
    height: 437px;
    background: linear-gradient(-135deg, #ffffff 16px, transparent 0), linear-gradient(135deg, #ffffff 16px, transparent 0), linear-gradient(-45deg, #ffffff 16px, transparent 0), linear-gradient(45deg, #ffffff 16px, transparent 0);
    background-color: #f0f3f2;
    background-position: left top, left top, left bottom, left bottom;
    background-repeat: repeat-x;
    background-size: 32px 32px, 32px 32px;
}

.our-brands p {
    font-family: montserrat-ultra-light;
    font-size: 28px;
    text-align: center;
}

.row-our-brands {
    display: flex;
    margin-top: 70px;
    justify-content: space-around;
}

#circle {
    background: #dfe5e8;
    border-radius: 50%;
    width: 80px;
    height: 80px;
}

#circle:hover {
    background-color: #99a9b5;
}

.dot {
    height: 15px;
    width: 15px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    margin-top: 85px;
}


/* LATEST NEWS */

.title-latest-news {
    font-family: montserrat-ultra-light;
    font-size: 28px;
    text-align: center;
    color: #555;
    padding-top: 77px;
}

.latest-news {
    margin-top: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.latest-news-row {
    display: flex;
    justify-content: space-between;
}

.card-latest-news {
    width: 261px;
    height: 510px;
}

.content-latest {
    background: #f0f3f2;
    padding: 0 20px 20px;
}

.img-latest {
    width: 100%;
    height: 188px;
    background: #dfe5e8;
}

.react {
    padding-top: 10px;
}

.author {
    float: left;
    font-family: SourceSansPro-Regular;
}

.author a {
    text-decoration: none;
    color: #00bcd4;
    font-size: 14px;
}

.comment {
    float: right;
    display: flex;
}

.comment img {
    padding-left: 10px;
}

.title-latest {
    margin-top: 42px;
    font-size: 24px;
    color: #3c3950;
}

.title-latest p {
    font-family: montserrat-ultra-light;
}

.title-latest span {
    font-family: Montserrat-Bold;
}

.description-latest {
    margin-top: 42px;
}

.btn-latest {
    display: flex;
    margin-top: 42px;
}

.btn-latest i {
    background-color: #b6c6c9;
    width: 30px;
    height: 30px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
}

.btn-latest button {
    cursor: pointer;
    border: 3px solid #00bcd4;
    margin-left: 30px;
    width: 125px;
    height: 30px;
    color: #00bcd4;
    font-family: Montserrat-Bold;
    font-size: 14px;
}


/* LINE */


/* ABOUT */

.about {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.col-about {
    display: flex;
    justify-content: space-between;
}

.col-one-about,
.col-two-about {
    height: 330px;
    width: 563px;
    border: 1px solid #dfe5e8;
    border-radius: 0 50px 50px 50px;
}

.content-about {
    padding: 60px;
}

.title-content-about {
    float: left;
}

.title-content-about p {
    font-family: Montserrat-Bold;
    font-size: 24px;
    color: #3c3950;
}

.icon-title-about {
    float: right;
}

.description-about {
    padding: 0 60px;
}

.img-about {
    margin-top: 35px;
    padding: 0 60px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.card-img-about {
    background-color: #f1f1f1;
    width: 52px;
    height: 32px;
    line-height: 75px;
    font-size: 30px;
    display: flex;
}

.checkbox-about {
    padding: 0 60px;
}

.checkbox-about ul li {
    padding-bottom: 15px
}


/* LIST-PRODUCTS */

.list-products {
    margin-top: 70px;
    height: 526px;
    background: #f0f3f2;
    position: relative;
    display: flex;
    justify-content: center;
}

.col-list-products {
    display: flex;
    justify-content: space-between;
}

.col-list-products h3 {
    font-family: Montserrat-Bold;
    font-size: 19px;
    margin-top: 95px;
    color: #3c3950;
}

.card-new-products ul li {
    display: flex;
    margin: 33px 0 15px 0;
}

.img-new-products {
    position: relative;
}

.img-new-products span {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 12px;
    right: -12px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #00bcd4;
    color: #ffffff;
}

.img-new-products-one {
    background-color: #c5c5c5;
    width: 80px;
    height: 80px;
}

.des-img-new-products {
    background-color: #ffffff;
    width: 285px;
}

.text-new-products {
    padding: 20px;
}

.checked {
    color: orange;
}


/* SELL MORE */

.sell-more {
    height: 225px;
    background: #d1edac;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #3c3950;
}

.text-sell-more {
    font-family: montserrat-ultra-light;
    font-size: 42px;
    float: left;
    display: flex;
}

.text-sell-more i {
    font-size: 70px;
    padding-right: 20px
}

.text-sell-more span {
    font-family: Montserrat-Bold;
}

.btn-sell-more {
    cursor: pointer;
    float: right;
    width: 235px;
    height: 48px;
    border: 3px solid #3c3950;
    justify-content: center;
    align-items: center;
    display: flex;
    font-family: Montserrat-Bold;
    font-size: 19px;
}


/* FOOTER */

.footer {
    display: flex;
    justify-content: center;
    background: #212331;
    color: #93a2ae;
}

.footer-content {
    display: flex;
    margin-top: 130px;
    margin-bottom: 50px;
}

.thegem-footer {
    width: 261px;
    margin-right: 42px;
}

.img-logo-footer {
    display: flex;
}

.img-logo-footer p {
    color: #ffffff;
    font-family: SourceSansPro-Regular;
    font-size: 38.67px;
}

.img-logo-footer span {
    font-family: Montserrat-Bold;
}

.text-footer {
    padding-top: 50px;
}

.contact-footer {
    padding-top: 70px;
}

.title-footer {
    font-family: Montserrat-Bold;
    font-size: 19px;
    color: #ffffff;
    display: inline-block;
}

.address-footer p {
    padding-top: 20px;
}

.icon-contact-footer img {
    padding-top: 20px;
}

.content-thegem {
    width: 870px;
    display: flex;
    flex-direction: column;
}

.content1 {
    width: 100%;
    height: 330px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 42px;
}

.content-col1 {
    width: 261px;
}

.content-col2 {
    width: 261px;
    margin-top: 80px;
}

.content2 {
    display: flex;
    justify-content: space-between;
}

.card-recent-posts {
    margin-top: 50px
}

.card-item {
    display: flex;
}

.img-recent {
    min-width: 72px;
    height: 72px;
    border-radius: 50%;
    background: #99a9b5;
    margin: 0 10px 0 0;
}

.content-recent span {
    color: #00bcd4
}

.email-us button {
    width: 100%;
    height: 40px;
    border: none;
    color: #99a9b5;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    background-color: #394050;
    margin-top: 16px;
}

.inputWithIcon {
    position: relative;
}

.input-email {
    margin-top: 50px;
}

.input-email input,
.inputNew-letter input,
textarea {
    background-color: #181828;
}

.inputWithIcon i {
    position: absolute;
    right: 0;
    top: 8px;
    padding: 9px 8px;
}

.inputWithIcon input[type="email"],
.inputWithIcon input[type="text"],
textarea {
    width: 100%;
    margin: 8px 0;
    padding: 8px;
    /* background-color: #181828; */
}

textarea {
    height: 100px;
}

.inputWithIcon input[type="email"],
.inputWithIcon input[type="text"],
.inputNew-letter input[type="text"] {
    height: 40px;
}

.email-us button {
    height: 40px;
    border: none;
    color: #99a9b5;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    background-color: #394050;
    margin-top: 16px;
}

#list-useful-links {
    font-family: SourceSansPro-Regular;
    margin-top: 50px;
    list-style-position: inside !important;
    list-style-type: disc !important;
}

#list-useful-links ul li:hover {
    color: #00bcd4;
}

::marker {
    color: #00bcd4;
}

::marker:hover {
    color: #99a9b5;
}

.img-project-client {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    margin-top: 50px;
}

.img-one {
    display: flex;
    width: 80px;
    height: 80px;
}

.one {
    background-color: #828e97;
}

.two {
    background-color: #5c6973;
}

.three {
    background-color: #4b565d;
}


/* FOOTER-END */

.footer-end {
    color: #99a9b5;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #181828;
    height: 100px;
}

.row-footer-end {
    display: flex;
    justify-content: space-between;
}

.copy-right {
    float: left;
}

.copy-right a {
    text-decoration: none;
    color: #00bcd4;
    font-size: 14px;
}

.social-icons-footer {
    list-style-type: none;
    display: flex;
}

.social-icons-footer li {
    margin-right: 11px;
}

.list-support {
    list-style-type: none;
    display: flex;
}

.list-support li {
    margin-right: 35px;
}

.text-news-letter {
    margin-top: 44px
}

.inputNew-letter {
    display: flex;
    margin-top: 45px;
    width: 100%;
    align-items: center;
}

.icon {
    display: flex;
    height: 40px;
    width: 37px;
    background-color: #394050;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}