@font-face {
  font-family: Montserrat-Bold;
  src: url(./fonts/Montserrat-Bold.ttf);
}
@font-face {
  font-family: SourceSansPro-Light;
  src: url(./fonts/SourceSansPro-Light.ttf);
}
@font-face {
  font-family: montserrat-ultra-light;
  src: url(./fonts/montserrat-ultra-light.otf);
}
@font-face {
  font-family: SourceSansPro-Regular;
  src: url(./fonts/SourceSansPro-Regular.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.area-content, .products-container, .row-footer-end, .footer-content, .content-sell-more, .col-list-products, .col-about, .lines, .latest-news-row, .our-brands-container, .description-banner, .navbar, .row-header {
  width: 1170px;
  position: relative;
}

.display-align, .img-main span, .img-product-viewed span, .icon-top, .footer-end, .btn-sell-more, .sell-more, .about, .btn-latest i, .latest-news, .our-brands, .btn-pagination, .product-viewed, .next,
.prev, .navigation, .header {
  display: flex;
  align-items: center;
  justify-content: center;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

/* HEADER */
.header {
  background-color: #f4f6f7;
  height: 52px;
  font-family: SourceSansPro-Regular;
  font-size: 14px;
  color: #5f727f;
}

.row-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.head-phone {
  margin-right: 13px;
}

.number-phone {
  transform: translateX(-29px);
  padding-bottom: 5px;
}

.social-icons {
  margin-right: 95px;
  display: flex;
}
.social-icons li {
  margin-right: 11px;
}

.direction-item {
  display: flex;
  margin-right: 50px;
}
.direction-item img {
  height: 10px;
}
.direction-item li {
  margin-right: 20px;
}

.btn-wish-list button {
  cursor: pointer;
  width: 101px;
  height: 30px;
  color: #ffffff;
  background-color: #494c64;
  border-radius: 4px;
}

/* NAVIGATION */
.navigation {
  width: 100%;
  height: 96px;
  color: #2c2e3d;
}

.navbar {
  align-items: center;
  display: flex;
  justify-content: space-between;
}
.navbar :hover {
  color: #00bcd4;
}

.nav-list,
.list-item,
.nav-icon,
.tag {
  font-size: 14px;
  cursor: pointer;
  display: inline-block;
}

.brand {
  font-size: 27px;
  display: flex;
  align-items: center;
}

.nav-list a {
  color: #2c2e3d;
  padding-left: 30px;
}

.nav-icon img {
  padding-left: 5px;
}

.brand span {
  padding-left: 10px;
}

/* RESPONSIVE NAV */
.checkbtn {
  font-size: 30px;
  color: #4f5250;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}

#check {
  display: none;
}

/* BANNER */
.banner {
  max-width: 100%;
  height: auto;
  background-image: linear-gradient(to right, #7b3d62, rgba(121, 137, 156, 0.7));
  position: relative;
  display: flex;
  justify-content: center;
}

.title-banner {
  font-family: montserrat-ultra-light;
  font-size: 100px;
}

.text-banner {
  font-size: 24px;
  font-family: SourceSansPro-Light;
  margin-top: 9px;
}

.description-banner {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 400px;
  color: #ffffff;
}
.description-banner ul {
  text-align: right;
}

.text-direction-page {
  font-family: SourceSansPro-Regular;
  position: absolute;
  left: 0%;
  bottom: 5%;
  display: flex;
  justify-content: center;
}

.next,
.prev {
  width: 80px;
  height: 80px;
  cursor: pointer;
  background-color: #212331;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.next:hover,
.prev:hover {
  background: #00bcd4;
}

.next {
  right: 0%;
}

.prev {
  left: 0%;
}

/* CATEGORIES */
.categories {
  color: #2c2e3d;
  width: 261px;
  display: inline-block;
}
.categories a {
  color: #3c3950;
}
.categories ul {
  cursor: pointer;
  margin-top: 30px;
  border: 1px #d8e3e8 solid;
  font-size: 14px;
}
.categories ul li {
  padding: 16px 30px;
  border-bottom: 1px solid #d8e3e8;
}

.title-ctg {
  font-size: 19px;
}
.title-ctg img {
  width: 9px;
}

.title-footer img {
  width: 9px;
}

.fl-right {
  float: right;
}

.dropdown-content {
  display: none;
  background-color: #f4f6f7;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.dropdown-content a {
  padding: 16px 20px;
  display: block;
  width: 261px;
}
.dropdown-content a :hover {
  background-color: #d8e3e8;
  color: #00bcd4;
}
.dropdown-content a i {
  font-size: 7px;
  padding: 6px 14px;
}

.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown:hover .dropbtn {
  color: #00bcd4;
}
.dropdown:hover .dropbtn i {
  transform: rotate(90deg);
}

.child-dropdown {
  color: #f4f6f7;
}
.child-dropdown .child-content {
  display: none;
}
.child-dropdown:hover .child-content {
  display: block;
}
.child-dropdown:hover .child-content a {
  font-size: 14px;
}
.child-dropdown:hover .child-content a :hover {
  color: #f44336;
}

.child-dropdown:hover .drop-btn i {
  transform: rotate(90deg);
}

/* form search */
.search-box {
  margin: 68px 0 60px;
  position: relative;
}
.search-box input {
  width: 100%;
  padding: 11px;
  border: 2px solid #d8e3e8;
}
.search-box .fa-search {
  position: absolute;
  left: 89%;
  top: 37%;
  color: #99a9b5;
}

/* filter  */
.filter, .filter-item {
  display: flex;
  flex-direction: column;
  gap: 61px;
}
.filter-item {
  gap: 31px;
}

.filter-price {
  width: 100%;
  background-color: #f0f3f2;
  height: 6px;
  position: relative;
}
.filter-price .myProgress {
  width: 60%;
  height: 6px;
  background-color: #b6c6c9;
}
.filter-price i {
  position: absolute;
  color: #00bcd4;
  top: -5px;
}

.icon-start {
  left: 0%;
}

.icon-end {
  left: 60%;
}

.style-select {
  width: 100%;
  height: 40px;
  border-color: #99a9b5;
}

.btn-filter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.btn-filter button {
  font-size: 14px;
  color: #00bcd4;
  width: 82px;
  height: 29px;
  border: 2px solid #00bcd4;
}
.recently-view-product {
  background-color: #f0f3f2;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.product-viewed {
  gap: 13px;
  border-bottom: 1px solid #d8e3e8;
  padding: 10px;
}

.img-product-viewed {
  border-radius: 50%;
}

.product-viewed-info {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.percent {
  width: 24px;
  background-color: #00bcd4;
  color: #ffffff;
  right: -10px;
  top: 10px;
  position: absolute;
  border-radius: 50%;
  height: 24px;
  text-align: center;
}

/* product-tags */
.prod-tags {
  color: #5f727f;
  cursor: pointer;
}
.prod-tags span {
  border: 1px solid #99a9b5;
  display: inline-block;
  margin: 0 9px 9px 0;
  padding: 6px;
}

/* featured products */
.featured-product-box {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.product-featured {
  display: flex;
  gap: 18px;
  border: 1px solid #d8e3e8;
  align-items: center;
}

/* ads coupon */
.ads-coupon {
  width: 100%;
  margin: 83px 0 68px;
  height: 584px;
  padding: 18px;
  background-color: #ff5176;
}
.ads-coupon-content {
  text-align: center;
}

.border-white {
  border: 8px solid #ffffff;
  height: 548px;
  text-align: center;
}

.color-text {
  color: #ffffff;
}

#for-free {
  color: #ffc107;
  font-size: 32px;
}

.coupon {
  font-size: 36px;
  letter-spacing: 2px;
}

.price-coupon {
  font-size: 120px;
  float: right;
  color: #ffffff;
  font-family: Montserrat-Bold;
}

.text-size {
  font-size: 24px !important;
  color: #ffffff;
}

#mr {
  margin: 26px 29px 40px;
}

.form-submit-mail {
  margin: 0 20px;
}

.input-mail {
  border: none;
  padding: 15px;
  width: 100%;
  font-size: 16px;
  height: 40px;
}

.btn-submit-mail {
  width: 100%;
  height: 40px;
  border: none;
  background-color: #2c2e3d;
  color: #ffffff;
  margin-top: 14px;
}

/* cart */
.sub-total,
.view-checkout {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.view-checkout {
  margin-top: 34px;
}

.btn-view,
.btn-checkout {
  width: 124px;
  height: 30px;
  font-size: 14px;
  border-radius: 3px;
}

.btn-view {
  border: none;
  background-color: #00bcd4;
  color: #ffffff;
}

.btn-checkout {
  border: 1px solid #3c3950;
  color: #3c3950;
}

#subtotal {
  float: right;
  font-size: 24px;
}

/* product */
.main-product {
  float: right;
  width: calc(100% - 303px);
}

.lists-products {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.product-item {
  width: calc(33.333% - 28px);
  margin-bottom: 42px;
}
.product-item .banner-ctg {
  background-color: #d8e3e8;
  width: 100%;
  height: 211px;
}
.product-item .line {
  width: 51px;
  height: 0;
  border: 1px solid #00bcd4;
  margin: 8px;
}
.product-item .ctg-description {
  cursor: pointer;
  position: relative;
  background-color: #fcfdfc;
  width: 100%;
  height: 85px;
}
.product-item .ctg-description .ctg-infor {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}
.product-item .button-products {
  background-color: #d8e3e8;
  height: 47px;
}

.product-item:hover .ctg-description {
  background-color: #393d50;
  color: #ffffff;
  transition: 0.3s all;
}
.product-item:hover .ctg-description .line {
  width: 80px;
}

.btn-pagination {
  gap: 15px;
  margin-bottom: 73px;
}
.btn-pagination button {
  cursor: pointer;
  width: 30px;
  height: 30px;
  border-radius: 5px;
  border: 1px solid #99a9b5;
  color: #99a9b5;
}
.btn-pagination :hover {
  color: #ffffff;
  background-color: #3c3950;
}

/* nav-sort */
.nav-sort {
  background-color: #f0f3f2;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 42px;
}

.sort-dropdown select {
  width: 182px;
  height: 30px;
  border: none;
}

.show-page-dropdown {
  display: flex;
  align-items: center;
  gap: 20px;
  color: #99a9b5;
}

/* toggle desc asc */
.switch {
  position: relative;
  display: inline-block;
  width: 43px;
  height: 24px;
}

.toggle-desc-asc {
  display: flex;
  align-items: center;
  gap: 15px;
  font-family: montserrat-ultra-light;
  font-size: 14px;
  color: #5f727f;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #b6c6c9;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.slider :before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: #ffffff;
  transition: 0.4s;
}

input :checked + .slider {
  background-color: #16a7b9;
}
input :checked + .slider :before {
  transform: translateX(20px);
}
input :focus + .slider {
  box-shadow: 0 0 1px #16a7b9;
}

.slider.round {
  border-radius: 34px;
}
.slider.round :before {
  border-radius: 50%;
}

/* product part 2 */
.img-product {
  background-color: #f0f3f2;
  width: 100%;
  height: 327px;
  position: relative;
}

.product-description {
  background-color: #ffffff;
  width: 100%;
  height: 143px;
  border-left: 1px solid #f4f6f7;
  border-right: 1px solid #f4f6f7;
  border-bottom: 1px solid #f4f6f7;
}

.product-infor {
  font-family: SourceSansPro-Regular;
  color: #5f727f;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 13px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  position: relative;
}

.product-infor:hover .line {
  width: 80px;
}

.list-icon {
  display: flex;
  align-items: center;
  gap: 8px;
}
.color-star {
  color: #ffc107;
}

.color-price {
  color: #42c6da;
}

.color-heart {
  color: #f5564c;
}

.product-item:hover {
  transition: 0.3s;
}
.product-item:hover .img-product {
  background-color: #a8e2e9;
}
.product-item:hover .product-description {
  background-color: #f0f3f2;
}
.product-item:hover hr {
  width: 83px;
}

#btn-mr {
  margin-top: 16px;
  margin-bottom: 123px;
}

.style-btn {
  color: #ffffff !important;
  border: none;
}

.btn-color {
  background-color: #b6c6c9;
}

.btn-color1 {
  background-color: #3c3950;
}

.btn-color4 {
  background-color: #00bcd4;
}

#new {
  position: absolute;
  top: 50px;
  left: 5px;
  z-index: 1;
}

.tag-sn {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: #ffffff;
  font-size: 12px;
}

.tag-ads {
  position: absolute;
  right: -22px;
  top: 22px;
}
.tag-ads-sale, .tag-ads-new {
  border-radius: 50%;
  position: relative;
}
.tag-ads-sale {
  background-color: #00bcd4;
  width: 63px;
  height: 63px;
  z-index: 2;
}
.tag-ads-new {
  background-color: #393d50;
  width: 50px;
  height: 50px;
}

/* OUR BRANDS */
.our-brands {
  margin-top: 70px;
  height: 437px;
  background: linear-gradient(-135deg, #ffffff 16px, transparent 0), linear-gradient(135deg, #ffffff 16px, transparent 0), linear-gradient(-45deg, #ffffff 16px, transparent 0), linear-gradient(45deg, #ffffff 16px, transparent 0);
  background-color: #f0f3f2;
  background-position: left top, left top, left bottom, left bottom;
  background-repeat: repeat-x;
  background-size: 32px 32px, 32px 32px;
}

.title-our-brands {
  font-family: montserrat-ultra-light;
  font-size: 28px;
  text-align: center;
  color: #3c3950;
}

.row-our-brands {
  display: flex;
  margin-top: 70px;
  justify-content: space-around;
}

#circle {
  background: #dfe5e8;
  border-radius: 50%;
  width: 80px;
  height: 80px;
}
#circle :hover {
  background-color: #99a9b5;
}

.dot {
  text-align: center;
  height: 15px;
  width: 15px;
  background-color: #b6c6c9;
  border-radius: 50%;
  display: inline-block;
  margin-top: 85px;
}

#dot1 {
  background-color: #ffffff;
  border: 1px solid #b6c6c9;
}

.dots {
  text-align: center;
}

/* LATEST NEWS */
.title-latest-news {
  padding-top: 77px;
}

.latest-news {
  margin-top: 70px;
}

.latest-news-row {
  display: flex;
  justify-content: space-between;
}

.card-latest-news {
  width: 261px;
  height: 510px;
}

.content-latest {
  background: #f0f3f2;
  padding: 10px 20px 20px;
}

.img-latest {
  width: 100%;
  height: 188px;
  background: #dfe5e8;
}

.emotion {
  font-size: 14px;
}

.by-author {
  display: inline-block;
}
.by-author span {
  color: #00bcd4;
}

.icon-cmt {
  float: right;
}

.icon-cmt i,
.icon-cmt > span {
  margin: 0 8px;
}

.fa-comment {
  color: #99a9b5;
}

.fa-heart {
  color: #f44336;
}

.title-latest {
  margin-top: 42px;
  font-size: 24px;
  color: #3c3950;
}
.title-latest p {
  font-family: montserrat-ultra-light;
}

.description-latest {
  margin-top: 42px;
}

.btn-latest {
  display: flex;
  margin-top: 42px;
}

.btn-latest i {
  background-color: #b6c6c9;
  width: 30px;
  height: 30px;
  border-radius: 5px;
  color: #ffffff;
}
.btn-latest button {
  cursor: pointer;
  border: 3px solid #00bcd4;
  margin-left: 30px;
  width: 125px;
  height: 30px;
  color: #00bcd4;
  font-size: 14px;
}

/* LINE */
.line-horizontal {
  display: flex;
  justify-content: center;
  margin: 78px 0 78px;
}

.space {
  margin: 5px;
  width: 100%;
  height: 1px;
  background-color: #dfe5e8;
  display: flex;
  justify-content: center;
}

/* ABOUT */
.about {
  position: relative;
}

.col-about {
  display: flex;
  justify-content: space-between;
}

.col-one-about,
.col-two-about {
  height: 330px;
  width: 563px;
  border: 1px solid #dfe5e8;
  border-radius: 0 50px 50px 50px;
}

.content-about {
  padding: 60px;
}

.title-content-about {
  float: left;
}
.title-content-about p {
  font-size: 24px;
  color: #3c3950;
}

.icon-title-about {
  float: right;
}

.description-about,
.checkbox-about {
  padding: 0 60px;
}

.img-about {
  margin-top: 35px;
  padding: 0 60px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.card-img-about {
  background-color: #dfe5e8;
  width: 52px;
  height: 32px;
  line-height: 75px;
  font-size: 30px;
  display: flex;
}

.checkbox-about ul li {
  padding-bottom: 15px;
}
.checkbox-about li img {
  margin-right: 10px;
}

/* LIST-PRODUCTS */
.list-products {
  margin-top: 70px;
  height: 526px;
  background: #f0f3f2;
  display: flex;
  justify-content: center;
}

.col-list-products {
  display: flex;
  justify-content: space-between;
}

.title-list-products {
  font-size: 19px;
  margin-top: 95px;
  color: #3c3950;
}
.title-list-products img {
  width: 9px;
}

.card-new-products ul li {
  display: flex;
  margin: 33px 0 15px 0;
}

.img-new-products-one {
  background-color: #c5c5c5;
  width: 80px;
  height: 80px;
}

.des-img-new-products {
  background-color: #ffffff;
  width: 285px;
}
.text-new-products {
  padding: 20px;
}

.checked {
  color: #ffc107;
}

/* SELL MORE */
.sell-more {
  height: 225px;
  background: #d1edac;
  color: #3c3950;
}

.text-sell-more {
  font-family: montserrat-ultra-light;
  font-size: 42px;
  float: left;
  display: flex;
}
.text-sell-more i {
  font-size: 70px;
  padding-right: 20px;
}

.btn-sell-more {
  cursor: pointer;
  float: right;
  width: 235px;
  height: 48px;
  border: 3px solid #3c3950;
  font-size: 19px;
}

/* FOOTER */
.footer {
  display: flex;
  justify-content: center;
  background: #212331;
}

.footer-content {
  display: flex;
  margin-top: 130px;
  margin-bottom: 50px;
}

.thegem-footer {
  width: 261px;
  margin-right: 42px;
}

.img-logo-footer {
  display: flex;
}
.img-logo-footer img {
  width: 90px;
  height: 90px;
}
.img-logo-footer p {
  color: #ffffff;
  font-family: SourceSansPro-Regular;
  font-size: 38.67px;
}

.text-footer {
  padding-top: 50px;
}

.contact-footer {
  padding-top: 70px;
}

.title-footer {
  font-size: 19px;
  color: #ffffff;
  display: inline-block;
}

.address-footer p {
  padding-top: 20px;
}

.icon-contact-footer img {
  padding-top: 20px;
}
.icon-contact-footer span {
  color: #00bcd4;
}

.content-thegem {
  width: 870px;
  display: flex;
  flex-direction: column;
}

.content1 {
  width: 100%;
  height: 330px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 42px;
}

.content2 {
  display: flex;
  justify-content: space-between;
}

.content-col1 {
  width: 261px;
}

.content-col2 {
  width: 261px;
  margin-top: 80px;
}

.card-recent-posts {
  margin-top: 50px;
}
.card-recent-posts span {
  color: #00bcd4;
}

.card-item {
  display: flex;
}

.img-recent {
  min-width: 72px;
  height: 72px;
  border-radius: 50%;
  margin: 0 10px 0 0;
}

.email-us button {
  width: 100%;
  height: 40px;
  border: none;
  color: #99a9b5;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  background-color: #494c64;
  margin-top: 16px;
}

.inputWithIcon {
  position: relative;
}
.inputWithIcon i {
  position: absolute;
  right: 0;
  top: 8px;
  padding: 9px 8px;
}

.input-email {
  margin-top: 50px;
}

.input-email input,
.inputNew-letter input,
textarea {
  background-color: #181828;
}

.inputWithIcon input[type=email],
.inputWithIcon input[type=text],
textarea {
  width: 100%;
  margin: 8px 0;
  padding: 8px;
  font-size: 16px;
  font-family: SourceSansPro-Regular;
}

textarea {
  height: 100px;
}

.inputWithIcon input[type=email],
.inputWithIcon input[type=text],
.inputNew-letter input[type=text] {
  height: 40px;
  font-size: 16px;
  font-family: SourceSansPro-Regular;
  border: none;
}

#list-useful-links {
  font-family: SourceSansPro-Regular;
  margin-top: 50px;
  list-style-position: inside !important;
  list-style-type: disc !important;
}
#list-useful-links li:hover {
  cursor: pointer;
  color: #00bcd4;
}

.img-project-client {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  margin-top: 50px;
}

.img-one {
  display: flex;
  width: 80px;
  height: 80px;
}

.text-news-letter {
  margin-top: 44px;
}

.inputNew-letter {
  display: flex;
  margin-top: 45px;
  width: 100%;
  align-items: center;
}

/* FOOTER-END */
.footer-end {
  color: #99a9b5;
  background-color: #181828;
  height: 100px;
}

.row-footer-end {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.copy-right {
  float: left;
}
.copy-right a {
  color: #00bcd4;
}

.social-icons-footer {
  display: flex;
}
.social-icons-footer li {
  margin-right: 11px;
}

.list-support {
  display: flex;
}
.list-support li {
  margin-right: 35px;
}

.icon-top {
  color: #99a9b5;
  width: 50px;
  height: 50px;
  border-radius: 5px;
  opacity: 0.5;
  background-color: #394050;
  transform: translateY(-100%);
  cursor: pointer;
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (min-device-pixel-ratio: 1.5) {
  html,
body {
    width: 100%;
    overflow-x: hidden;
  }
}
.overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.2);
  display: none;
  z-index: 2;
  animation: fadeIn linear 0.2s;
}

#check:checked ~ .nav-list,
.nav-icon {
  transform: translateX(0);
  opacity: 1;
}

#check:checked ~ .overlay {
  display: block;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@media screen and (max-width: 1161px) {
  .area-content, .products-container, .row-header, .navbar, .description-banner, .our-brands-container, .latest-news-row, .lines, .col-about, .col-list-products, .content-sell-more, .footer-content, .row-footer-end,
.banner {
    width: 100%;
    padding: 10px;
    margin: 0;
  }

  /* HEADER */
  div.header {
    display: none;
  }

  /* NAVIGATION */
  .navbar ul {
    position: fixed;
    width: 40%;
    max-width: 100%;
    background-color: #cacaca;
    overflow-y: scroll;
    top: 0;
    left: 0;
    bottom: 0;
    transform: translateX(-100%);
    z-index: 3;
    opacity: 0;
    transition: transform linear 0.2s, opacity linear 0.2s;
  }

  .brand {
    font-size: 30px;
  }

  .checkbtn {
    display: block;
  }

  .navbar ul li {
    display: block;
  }

  .nav-list a {
    font-size: 8px;
    margin: 50px 0;
    line-height: 30px;
  }

  .banner {
    max-width: 100%;
  }

  .text-banner {
    font-size: 60px;
    text-align: center;
  }

  .text-banner-small {
    font-size: 20px;
    text-align: center;
  }

  .navbar {
    justify-content: flex-start;
  }

  .product-viewed {
    justify-content: flex-start;
  }
}
@media only screen and (min-width: 740px) and (max-width: 1161px) {
  /* SIDEBAR */
  .categories {
    width: 30%;
    margin-left: 20px;
  }

  .main-product {
    width: calc(66.667% - 30px);
    margin-right: 10px;
  }

  .product-item {
    width: calc(50% - 15px);
  }

  .col-about {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .col-two-about {
    margin-top: 20px;
  }

  .list-products {
    height: auto;
  }

  .col-list-products {
    flex-wrap: wrap;
    align-items: center;
  }

  .thegem-footer,
.content-thegem {
    display: flex;
    flex-direction: row;
  }
}
@media screen and (max-width: 739px) {
  .prev,
.next {
    width: 35px;
    height: 35px;
  }

  .main-product,
.product-item,
.categories,
.card-latest-news {
    width: 100%;
    padding: 10px;
    /* margin: 0; */
  }

  .banner {
    width: 100%;
    height: auto;
  }

  .text-banner-small {
    font-size: 15px;
    text-align: center;
  }

  .show-page-dropdown span {
    display: none;
  }

  #circle {
    width: 50px;
    height: 50px;
  }

  .latest-news-row {
    flex-wrap: wrap;
  }

  .title-content-about p {
    font-size: 16px;
  }

  .list-products {
    height: auto;
  }

  .col-about {
    flex-wrap: wrap;
  }

  .col-two-about {
    margin-top: 20px;
  }

  .col-list-products {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .content-about,
.description-about,
.checkbox-about {
    padding: 15px;
  }

  .img-about {
    margin-top: 15px;
    padding: 0 20px;
  }

  .text-sell-more {
    font-size: 24px;
  }

  .content1,
.content2,
.content-thegem,
.footer-content {
    gap: 30px;
    display: flex;
    flex-direction: column;
    height: auto;
    align-items: center;
  }

  .row-footer-end,
.social-footer-end {
    display: flex;
    flex-wrap: wrap;
    height: auto;
    align-items: center;
    justify-content: center;
    gap: 15px;
  }

  .list-support {
    display: none;
  }
}
.text-content, .dropdown-content, .search-box input, .style-select, .btn-filter p, .product-viewed-info p, .prod-tags span, .input-mail, .subtotal-checkout p, .product-item .ctg-description .ctg-infor p, .sort-dropdown select, .list-icon span, .emotion, .description-latest, .description-about,
.checkbox-about, .des-img-new-products p, .thegem-footer, .content-col2, .card-item, .input-email, .row-footer-end {
  font-family: SourceSansPro-Regular;
  color: #5f727f;
  font-size: 16px;
}

.font-fm-sourceRL {
  font-size: 20px;
  font-family: SourceSansPro-Light;
  color: #393d50;
}

.bg-1 {
  background-color: #99a9b5;
}

.bg-2 {
  background-color: #c9d6d8;
}

.bg-3 {
  background-color: #c5c5c5;
}

.img-main, .img-product-viewed {
  width: 80px;
  height: 80px;
  position: relative;
}
.img-main span, .img-product-viewed span {
  position: absolute;
  top: 12px;
  right: -12px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #00bcd4;
  color: #ffffff;
}

hr {
  border: 1px dotted #d8e3e8;
  border-style: none none dotted;
  margin: 15px 15px;
}

.navigation,
.list-item button,
.title-banner span,
.categories,
.btn-filter,
.font-fm-monb,
.title-latest span,
.btn-latest button,
.title-content-about,
.col-list-products,
.text-sell-more span,
.btn-sell-more,
.img-logo-footer span,
.title-footer {
  font-family: Montserrat-Bold;
}

/* MAIN-CONTENT */
.main-content {
  display: flex;
  justify-content: center;
  margin-top: 111px;
}

/*# sourceMappingURL=style.css.map */
